# Secretos y configuraciones locales (¡MUY IMPORTANTE!)
.env
.env.*

# Archivos de datos del bot
historial_precios.json
*.log

# Entornos virtuales de Python
venv/
env/
.venv/

# Archivos compilados y temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones de editores de código (opcional)
.vscode/
.idea/